<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place["id"] %>">

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="description" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Occurred On</label>
    <input type="date" name="occurred_on" class="form-control">
  </div>

  <button class="btn btn-primary">Create Entry</button>
</form>